@import url('https://fonts.googleapis.com/css?family=Exo');


#block_header {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  font-family: 'Exo', sans-serif;
}

#placeholder_segment {
  padding: 20px;
}


#image_cards {
  padding: 10px;
}

#segment_background {
  background-color: #faebd7;
}

#arrow_icon {
  margin-top: 42px;
  position: absolute;
  top: 0px;
  left: 0px;
  display:inline-block;
}

#individual_board_header {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  display: inline-block;
}
